<% event_types.each do |event| %>
  <div class="col-md-12 mb-4">
    <div class="card bg-dark text-light h-100">
      <div class="card-header">
        <h4 class="mb-0">
          <a href="#" data-bs-toggle="modal" data-bs-target="#eventModal<%= event.id %>" class="text-decoration-none text-light">
            <%= event.name %>
          </a>
        </h4>
      </div>
      <div class="card-body">
        <p><%= event.description %></p>
        <div class="d-flex flex-wrap">
          <% event.pictures.each do |picture| %>
            <a href="#" data-bs-toggle="modal" data-bs-target="#imageModal<%= picture.id %>" class="me-2 mb-2">
              <%= image_tag(picture.variant(resize_to_limit: [100, 100]), class: "img-thumbnail") %>
            </a>
          <% end %>
        </div>
      </div>

      <div class="modal fade" id="eventModal<%= event.id %>" tabindex="-1" aria-labelledby="eventModalLabel<%= event.id %>" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
          <div class="modal-content bg-dark text-light">
            <div class="modal-header">
              <h5 class="modal-title" id="eventModalLabel<%= event.id %>"><%= event.name %></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <dl>
                <dt>Descrição:</dt>
                <dd><%= event.description %></dd>
                <dt>Capacidade:</dt>
                <dd><%= event.min_guests %> a <%= event.max_guests %> convidados</dd>
                <dt>Duração:</dt>
                <dd><%= event.duration %> minutos</dd>
                <dt>Cardápio:</dt>
                <dd><%= event.menu_details %></dd>
                <dt>Bebidas Alcoólicas:</dt>
                <dd><%= event.alcohol_option ? "Sim" : "Não" %></dd>
                <dt>Decoração:</dt>
                <dd><%= event.decoration_option ? "Sim" : "Não" %></dd>
                <dt>Estacionamento:</dt>
                <dd><%= event.parking_service_option ? "Sim" : "Não" %></dd>
                <dt>Escolha da Localização:</dt>
                <dd><%= event.location_option ? "Sim" : "Não" %></dd>
              </dl>
              <p>Preço Base para <%= event.min_guests %> Convidados: R$<%= event.base_price %> - Fim de Semana: R$<%= event.we_base_price %></p>
              <p>Taxa por Pessoa Excedente: R$<%= event.extra_guest %> - Fim de Semana: R$<%= event.we_extra_guest %></p>
              <p>Taxa por Hora Extra: R$<%= event.extra_hour %> - Fim de Semana: R$<%= event.we_extra_hour %></p>
            </div>
            <div class="modal-footer">
              <% if owner_signed_in? && current_owner == @buffet.owner %>
                <%= link_to edit_event_type_path(event), class: 'btn btn-secondary btn-sm' do %>
                  Editar <%= event.name %>
                <% end %>
              <% else %>
                <% if @pending_order %>
                  <p>Já existe um <%= link_to 'pedido', order_path(@pending_order) %> pendente para este buffet.</p>
                <% else %>
                  <%= link_to new_order_path(event_type_id: event.id), class: 'btn btn-primary btn-sm' do %>
                    Agendar <%= event.name %>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <% event.pictures.each do |picture| %>
        <div class="modal fade" id="imageModal<%= picture.id %>" tabindex="-1" aria-labelledby="imageModalLabel<%= picture.id %>" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-dark text-light">
              <div class="modal-header">
                <h5 class="modal-title" id="imageModalLabel<%= picture.id %>"><%= event.name %> - Imagem</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body text-center">
                <%= image_tag(picture) %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>