<%= form_with model: @buffet do |f| %>
  <div>
    <%= f.label :brand_name %>
    <%= f.text_field :brand_name %>
  </div>
  <div>
    <%= f.label :corporate_name %>
    <%= f.text_field :corporate_name %>
  </div>
  <div>
    <%= f.label :registration_code %>
    <%= f.text_field :registration_code %>
  </div>
  <div>
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number %>
  </div>
  <div>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div>
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>
  <div>
    <%= f.label :neighborhood %>
    <%= f.text_field :neighborhood %>
  </div>
  <div>
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>
  <div>
    <%= f.label :state %>
    <%= f.text_field :state %>
  </div>
  <div>
    <%= f.label :postal_code %>
    <%= f.text_field :postal_code %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div>
    <h3>Métodos de Pagamento</h3>
    <%= f.collection_check_boxes :payment_method_ids, PaymentMethod.all, :id, :name, { multiple: true } do |b| %>
      <%= b.check_box %>
      <%= b.label %>
    <% end %>
  </div>
  <div>
    <%= f.submit 'Enviar' %>
  </div>
<% end %>