<h1><%= @buffet.brand_name %></h1>
<strong>Descrição:</strong> <%= @buffet.description %>

<dl>
  <dt>Razão Social:</dt>
  <dd><%= @buffet.corporate_name %></dd>
  <dt>Contato:</dt>
  <dd><%= @buffet.phone_number %> - <%= @buffet.email %></dd>
  <dt>Contato:</dt>
  <dd><%= @buffet.phone_number %> - <%= @buffet.email %></dd>
  <dt>Endereço:</dt>
  <dd><%= @buffet.address %> - <%= @buffet.neighborhood %>, <%= @buffet.city %> - 
  <%= @buffet.state %> - <%= @buffet.postal_code %></dd>
</dl>

<% if owner_signed_in? && current_owner == @buffet.owner %>
  <%= link_to 'Editar', edit_buffet_path %>
<% end %>