<%= form_with(model: @order, url: confirmed_order_path(@order), method: :post) do |f| %>
  <div class="mb-3">
    <%= f.label :final_price, 'Preço Final' %>
    <%= f.number_field :final_price %>
  </div>
  <div class="mb-3">
    <%= f.label :extra_fee, 'Taxa Extra' %>
    <%= f.number_field :extra_fee %>
  </div>
  <div class="mb-3">
    <%= f.label :discount, 'Desconto' %>
    <%= f.number_field :discount %>
  </div>
  <div class="mb-3">
    <%= f.label :adjustment_description, 'Descrição do Ajuste' %>
    <%= f.text_area :adjustment_description %>
  </div>
  <div class="mb-3">
    <%= f.label :payment_method_id, 'Método de Pagamento' %>
    <%= f.collection_select :payment_method_id, @order.buffet.payment_methods, :id, :name, {include_blank: true} %>
  </div>
  <%= f.submit 'Confirmar Pedido' %>
<% end %>