<h1>Pedidos</h1>

<h2>Pedidos Aguardando Avaliação</h2>
<table class="table table-striped table-hover">
  <thead class="table-dark">
    <tr>
      <th>Código</th>
      <th>Evento</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.select { |order| order.status == "pending" }.each do |order| %>
      <tr>
        <td><%= link_to order.code, order_path(order.id) %></td>
        <td><%= order.event_type.name %></td>
        <td><%= I18n.translate(order.status) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Outros Pedidos</h2>
<table class="table table-striped table-hover">
  <thead class="table-dark">
    <tr>
      <th>Código</th>
      <th>Evento</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.reject { |order| order.status == "pending" }.each do |order| %>
      <tr>
        <td><%= order.code %></td>
        <td><%= order.event_type.name %></td>
        <td><%= I18n.translate(order.status) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
