<h1 class="mb-4">Detalhes do Pedido <%= @order.code %></h1>

<% if owner_signed_in? %>
  <% if @same_day_orders.any? %>
    <div class="alert alert-warning" role="alert">
      Atenção: Existem outros <%= pluralize(@same_day_orders.count, "pedidos") %> para o mesmo dia!
      <% @same_day_orders.each do |order| %>
        <p>Pedido: <%= link_to order.code, order %></p>
      <% end %>
    </div>
  <% end %>
<% end %>

<dl class="row">
  <dd class="col-sm-3"><strong>Cliente:</strong></dd>
  <dt class="col-sm-9"><%= @order.client.name %></dt>
  <dd class="col-sm-3"><strong>Evento:</strong></dd>
  <dt class="col-sm-9"><%= @order.event_type.name %></dt>
  <dd class="col-sm-3"><strong>Data:</strong></dd>
  <dt class="col-sm-9"><%= I18n.localize(@order.event_date.to_date) %></dt>
  <dd class="col-sm-3"><strong>Endereço:</strong></dd>
  <dt class="col-sm-9">
    <% if @order.event_type.location_option %>
      <%= @order.event_address %>
    <% else %>
      <%= @order.event_type.buffet.full_address %>
    <% end %>
  </dt>
  <dd class="col-sm-3"><strong>Informações Adicionais:</strong></dd>
  <dt class="col-sm-9"><%= @order.event_details %></dt>
  <dd class="col-sm-3"><strong>Status:</strong></dd>
  <dt class="col-sm-9"><%= I18n.translate(@order.status) %></dt>
</dl>

<% if client_signed_in? %>
  <%= link_to 'Editar Pedido', edit_order_path(@order) %>
<% end %>

<%= link_to 'Voltar', root_path %>