<% if @event_type.errors.any? %>
  <p>Verifique os erros abaixo:</p>
  <ul>
  <% @event_type.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
<% end %>

<%= form_with(model: [@buffet, @event_type]) do |f| %>
  <fieldset>
    <legend>Informações do Tipo de Evento</legend>
    <div>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div>
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>
    <div>
      <%= f.label :min_guests %>
      <%= f.number_field :min_guests %>
    </div>
    <div>
      <%= f.label :max_guests %>
      <%= f.number_field :max_guests %>
    </div>
    <div>
      <%= f.label :duration %>
      <%= f.number_field :duration %>
    </div>
    <div>
      <%= f.label :menu_details %>
      <%= f.text_area :menu_details %>
    </div>
    <div>
      <%= f.label :alcohol_option %>
      <%= f.check_box :alcohol_option %>
    </div>
    <div>
      <%= f.label :decoration_option %>
      <%= f.check_box :decoration_option %>
    </div>
    <div>
      <%= f.label :parking_service_option %>
      <%= f.check_box :parking_service_option %>
    </div>
    <div>
      <%= f.label :location_option %>
      <%= f.check_box :location_option %>
    </div>
  </fieldset>

  <fieldset>
    <legend>Preços durante a semana</legend>
    <div>
      <%= f.label :base_price %>
      <%= f.number_field :base_price %>
    </div>
    <div>
      <%= f.label :extra_guest %>
      <%= f.number_field :extra_guest %>
    </div>
    <div>
      <%= f.label :extra_hour %>
      <%= f.number_field :extra_hour %>
    </div>
  </fieldset>

  <fieldset>
    <legend>Preços no fim de semana</legend>
    <div>
      <%= f.label :we_base_price %>
      <%= f.number_field :we_base_price %>
    </div>
    <div>
      <%= f.label :we_extra_guest %>
      <%= f.number_field :we_extra_guest %>
    </div>
    <div>
      <%= f.label :we_extra_hour %>
      <%= f.number_field :we_extra_hour %>
    </div>
  </fieldset>

  <div>
    <%= f.submit 'Enviar' %>
  </div>
<% end %>