<!DOCTYPE html>
<html>
  <head>
    <title>CadeBuffet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <%= link_to root_path do %>
        <h1>Cade Buffet?</h1>
      <% end %>
      <nav>
        <% if client_signed_in? %>
          <div>
            <%= current_client.description %>
            <%= link_to 'Sair', destroy_client_session_path, data: { turbo_method: :delete } %>
          </div>
        <% elsif owner_signed_in? %>
          <div>
            <%= current_owner.description %> |
            <%= link_to 'Meu Buffet', current_owner.buffet %> |
            <%= link_to 'Sair', destroy_owner_session_path, data: { turbo_method: :delete } %>
          </div>
        <% else %>
          <div>
            <%= link_to 'Entrar Como Cliente', new_client_session_path %>
            <%= link_to 'Dono de Buffet', new_owner_session_path %>
          </div>
        <% end %>
      </nav>
    </header>
    <main>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </main>
  </body>
</html>
